*
!.gitignore

!driver
!driver/CHIPSET
!driver/CHIPSET/CHIPSET

!driver/Makefile
!driver/rtd-aDIO.c

!examples
!examples/Makefile
!examples/*.c

!include
!include/*.h

!lib
!lib/Makefile
!lib/*.c

!*.TXT